{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * poll plugin for Craft CMS 3.x
 *
 * poll Settings.twig
 *
 * @author    24hoursmedia
 * @copyright Copyright (c) 2020 24hoursmedia
 * @link      https://www.24hoursmedia.com
 * @package   Poll
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("twentyfourhoursmedia\\poll\\assetbundles\\poll\\PollAsset") %}


<h2>Settings</h2>

{{ forms.lightSwitchField({
    label: 'Block plugin uninstall',
    instructions: 'Prevents removal of the plugin. Removing the plugin will also remove all of the submitted data, so you might want to backup first.',
    id: 'blockPluginRemoval',
    name: 'blockPluginRemoval',
    on: settings['blockPluginRemoval']
}) }}

<h3>Cookie</h3>

<p>For anonymous participation, the latest polls in which one has participated is kept in a cookie.</p>


{{ forms.textField({
    label: 'Number of participations to keep in a cookie',
    instructions: 'Number of poll participations to keep. Setting this to a large value increases cookie size.',
    id: 'numCookieParticipations',
    name: 'numCookieParticipations',
    size: 10,
    value: settings['numCookieParticipations'],
}) }}
{% if settings.getFirstError('numCookieParticipations') %}
    {{ forms.errorList([settings.getFirstError('numCookieParticipations')]) }}
{% endif %}

{{ forms.textField({
    label: 'Participation cookie lifetime in days',
    instructions: 'Number of days to keep the participations cookie.',
    id: 'participationsCookieLifetime',
    name: 'participationsCookieLifetime',
    size: 10,
    value: settings['participationsCookieLifetime'],
}) }}
{% if settings.getFirstError('participationsCookieLifetime') %}
    {{ forms.errorList([settings.getFirstError('participationsCookieLifetime')]) }}
{% endif %}

<hr/>

<h2>Additional setup</h2>

<p>
    <strong>{{ "You can setup sections and fields in the Poll Utility section" }}. <a href="{{ url('utilities/poll-poll-utility') }}">{{ "Go there" | t }}
            &raquo;</a></strong>
</p>

<p>
    If you have not yet setup the fields, and want to change the default names of handles, you can do so by placing a
    poll.php in the /config directory with customized settings:
</p>

<pre><code>
// example config file to override section handles etc
// these settings would override the settings set from the CP
return [
    // configure handles for installation

    // the section containing polls
    // default: pollSection
    'sectionHandle' => '',

    // the field that is generated to select a poll
    // default: selectedPoll
    'selectPollFieldHandle' => '',

    // the matrix that contains 'answers'
    // default: pollAnswerMatrix
    'answerMatrixFieldHandle' => '',

    // within the answerMatrixFieldHandle, a block is created that will contain the answers.
    // this is the handle for that block.
    // default: answer
    'matrixBlockAnswerHandle' => ''

];
</code></pre>